CANVAS_BASE_URL=https://opit.instructure.com
CANVAS_ACCESS_TOKEN=23029~7hcYvHaCLnH7cZ3QArA4ezQ6MBL6wRuJkN8c4HE9NryyHWyvDa3QnGMMx7T7eyha
CANVAS_OUTPUT_DIR=downloads
CANVAS_TIMEOUT_SECONDS=60
CANVAS_PAGE_SIZE=100

